body{

	padding: 0;
	margin: 0;
  background-color: #EBEDEF;

}

*{
	outline: none;
}

button:focus{

  border: none;
  outline: 0;
}

.navbar{

  background-color: #21202E;
  color: white;
  font-size: 15px;
}

.navbar-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: white;
    display: block;
    padding: .5rem 1rem;
}

.button_design{

	background-color: #17A681;
	border: none;
	color: white;
	border-radius: .25rem;
	transition: 0.2s;
  padding: 3px 6px;
  height: 30px;
}

#recherche_accueil{

  height: 35px;
}


.button_design:hover{

	background-color: #0D836E;
	cursor: pointer;

}


.header_accueil{

	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 600px;
	background-image: url(../img/header_accueil.png);
	background-size: cover;
	background-position: center center;

}

.content_header{

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

.option_recherche{

  margin-top: 300px;
	min-width:900px;
	height: 100px;
	padding: 10px;
	background-color: rgba(33, 32, 46, 0.9)

}

.option{

	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

@media (max-width: 991px) {
 	.option{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
	.option_recherche{

    margin-top: 200px;
		min-width:300px;
		height: 300px;
		background-color: rgba(33, 32, 46, 0.9);
	}
  .content_header{
    display: flex;
    justify-content: center;
   
  }
  .navbar .button_design{

    margin-top: 15px;
    margin-bottom: 10px;
  }
}


.option button{

	padding: 6.5px 6.5px 6.5px;
  outline: 0;
}

@media (min-width: 1000px) {

	#header_menu{

	display: none;
	}
}


@media (max-width: 1000px) {

	#header{

		display: none;
	}
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}

.container {
  min-width: 95%;
}

.container2 {
  text-align: center
}

a{

  transition: 0.2s;
}

.dropdown-item:hover{

  background-color: #C7C7CB;
}

.accueil .btn{

  height: 35px;
  padding: 3px;
  outline: none;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:active, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: grey;
}


.bootstrap-select .dropdown-menu.inner {

  max-height: 200px;
}
.bootstrap-select .btn:focus{outline:blue!important;}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 180px;
}

*{
  border: none;
}
#page {
  width:100%; /* 2 */
  min-height:100vh;
  display:-webkit-flex; /* 3 */
  display:flex;
  -webkit-flex-direction:column; /* 3 */
  flex-direction:column;
}

#content {
  -webkit-flex-grow:1; /* 3 */
  flex-grow:1;
}
footer{

  background-color: #21202E;
  color: white;
  margin-top: 10%;
  padding: 10px;
}

footer a{

  text-decoration: none;
  color: white;
  transition: 0.2s;
}

footer a:hover{

  color: #909097;
  text-decoration: none;
}

.green{

  background-color: #17A681;
  color: rgba(255,255,255);
  transition: 0.2s;
  border: none; 
}

.green:hover{

  background-color: #0D836E;
}
.green:focus{
  
  outline: 0;
}

#affichage_annonces{

  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.liste_profil{

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  word-break: break-word;
}

.image_profil:hover{

  cursor: pointer;
}

.contenu_annonce{

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  padding: 35px 0px 30px;
}

.lieu_titre, .profil_message{

  background-color: white;
  border: 1px solid #ccc;
}
.lieu_titre{

  width: 50%;
}
.profil_message{

  min-width: 250px;
  width: 25%;
}

.annonce .container-fluid{

  display: flex;
  align-items: flex-start;
  min-width: 800px;

}



.affichage_information{

  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.profil_user{

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  padding: 10px;
  border: 1px solid #e6e6e6;
}
.profil_user img:hover{

  cursor: pointer;
}
.button_gpa{

  background-color: #17A681;
  border: none;
  color: white;
  border-radius: .25rem;
  padding: 6px 10px;
  transition: 0.2s;
}

.button_gpa:hover{

  cursor: pointer;
  background-color: #0D836E;
}

.nom_prenom{

  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  transition: 0.2s;
  font-size: 18px;
  text-align: center;
}

.nom_prenom div:hover{

  text-decoration: underline;
  cursor: pointer;
}

.lieu{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 100%;
}


@media (max-width: 900px) {
  .lieu{

    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
 .titre_description{

    width: auto;
    font-size: 18px;
    font-weight: bold;
  }
  iframe{

    height: 300px;
    width: 100%;
  }
  .contenu_annonce{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .affichage_information{

    width: 60%;
  }
  .profil_user{
  
    width: 100%;
  }
}

@media (min-width: 900px) {

   .titre_description{

    width: 60%;
    font-size: 18px;
    font-weight: bold;
  }
  iframe{

    height: 100%;
    width: 100%;
  }
}

.description{

  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.description div{

  word-break: break-word;
}

#num_tel{

  margin-top: 10px;
  width: 188px;
}

#envoyer_message{

  width: 188px;
}

.prix{

  font-size: 20px;
}

.map-container-google-1 iframe{

  height: 100%;
}



.attestation_prix{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
  width: 100%;
  padding: 10px;
  word-break: break-word;
}

.detail{

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}


.detail hr{

  width: 60%;
  height: 2px;
  margin-top: 80px;
}

.attestation_prix hr{

  width: 80%;
  height: 2px;
  margin-top: 40px;
}

.annonce section{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.profil_user  a{

  text-decoration: none;
  color: white;
}


/*MESSAGERIE*/

.bloc_message{max-width:1170px; margin:auto; margin-top: 100px;}
.bloc_message img{ max-width:100%; border-radius: 50%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #504d70;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  transition: 0.2s;
}
.chat_list:hover{

  cursor: pointer;
   background: #e3e3e3;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#e3e3e3;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
  overflow: hidden;
}
.incoming_msg{

  margin: 26px 0 26px;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 5px 0;
  display: flex;
  justify-content: space-between;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 37px 15px 0 25px;
  width: 60%;
  background-color: white;
}

 .sent_msg p {
  background: #039F77 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
  word-break: break-word;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #504d70  none repeat scroll 0 0;
  border: medium none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  transition: 0.2s;
}

.msg_send_btn:hover{

  background: #21202E;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.aucun_message{

  display: flex;
  justify-content: center;
  margin-top: 150px;
  width: 100%;
}

.aucun_message div{

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 70%;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  background-color: #f2f2f2;
  min-width: 450px;
}

svg{

  cursor: pointer;
}

.envoie_message .container-fluid{

  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
}
.envoie_message textarea{

  resize: none;
  height: 200px;
  border-radius : 4px;
  padding: 1rem;
  border: 1px solid #cad1d9;
}


.envoie_message .message_user, .resume_annonce{

  background-color: white;
  padding: 10px;
  min-width: 350px;
  max-width: 400px;
}
.envoie_message .message{

  margin-top: 30px;
}

.envoie_message .message button{
  
  margin-top: 10px;
  background-color: #17A681;
  border: none;
  color: white;
  border-radius: .25rem;
  transition: 0.2s;
  padding: 3px 6px;
  transition: 0.2s;
}
.envoie_message .message button:hover{
  
  cursor: pointer;
  background-color: #0D836E;
}

.envoie_message .resume_annonce hr{

  width: 100%;
  color: black;
  height: 2px;

}

.envoie_message .descriptif, .envoie_message .titre{

  word-break: break-word;
  padding: 10px;
}

.envoie_message .container-fluid article{

  height: 580px;
  background-color: white;
  min-width: 400px;
}

.envoie_message .prix_annonce{

  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .envoie_message .container-fluid{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .annonce .container-fluid{

  display: flex;
  align-items: flex-start;
  min-width: 100%;
  align-items: center;
  }
  .profil_message, .lieu_titre{

    width: 400px;
  }
}

.nombre{

  display: flex;
  min-width:450px;
}
.mes_annonces .nombre_annonce{

  margin-top: 150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil .nombre_annonce{
 
  margin-top: 0px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nombre_annonce{

  border: 1px solid #109C71;
  padding: 10px;
  width: auto;
  max-width: 200px;
  background-color: white;
  border-radius: 0.25rem;
}

.liste_annonces{

  margin-top: 50px;
  border: 1px solid #109C71;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 450px;
}

.liste_annonces_poste{

  margin-top: 50px;
  border: 1px solid #109C71;
  border-radius: 0.25rem;
  height: auto;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 450px;
  transition: 0.2s;
  background-color: white;
}

.liste_annonces_poste:hover{

  cursor: pointer;
  background-color: rgb(16, 156, 113, 0.5);
}

.Disponible{

  display: flex;
  align-items: center;
  color: green;
}

.Sous3mois{

  display: flex;
  align-items: center;
  color: orange;
}

.header_profil{

  width: 100%;
  height: 300px;
  background-image:url("../img/images_site/header_profil.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom ;
  margin-top: 50px;
}

.id_profil{

  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: -75px;
}

.detail_profil{

  width: 50%;
  height: 100%;
  border-radius: 0.25rem; 
  background-color: white;
  display: flex;
  flex-direction: column;
}
.info_general_user{

  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 650px) {
  .detail_profil{
    width: 100%;
  }
}

@media (min-width: 650px) {
  .detail_profil{
     min-width: 650px;
  }
}

.detail_profil img{

  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.detail_profil p{

  font-size: 18px;
  margin-top: 16px;
  text-align: center;
}


.detail_profil div{

  display: flex;
  align-items: center;
  padding: 7px;
  width: 100%;
  justify-content: space-evenly; 
}

.detail_profil hr{

  width: 100%;
  height: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.date_nbr_annonce{

  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.date_nbr_annonce div{

  padding: 0;
}

.liste{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_favoris{

  color: #F1C40F

}


.none_favoris{
  
  stroke: #212529;
  color: white;
}