.admin .card a{

	text-decoration: none !important;
	color: black;
}


.card{

	border: none;	
}

.list_panel{

	width: 18rem;
	height: 192px;
}

.list-group-item.active{

	background-color: #17A681;
	border: none;
	transition: 0.2s;
}
.list-group-item:hover{

	cursor: pointer
}

section{

	padding: 30px;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 900px) {
	section{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.pannel_result{

		margin-top: 150px;
	}
	.admin_form{

		margin-top: 300px;
	}
	.table_produits{

		width: 100% !important;
	}
}

.pannel_result{

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.pannel_result .card{

	margin-top: 10px;
}

.pagination{

	width: 100%;
	display: flex;
	justify-content: center;
}

.bi-circle-fill circle{

	color: #C0392B;
}

.btn-primary{

	background-color: #17A681;
	border: none;
	transition: 0.2s;
}

.btn-primary:hover{

	background-color: #0D836E;
	cursor: pointer;
}

.btn-primary:active{

	background-color: #0D836E !important;	
}

.descriptif{

	word-break: break-word;
}

.card-link{

	border: none;
	background-color: transparent;
	cursor: pointer;
	transition: 0.2s;
}

.card-link:hover{

	color: grey;
}

.card-link:focus{

	transform: scale(0.8);
}

.list_user{

	width: 350px;
	max-height: 600px;
	overflow-y: scroll;
}

.détail_user{

	display: flex;
	justify-content: space-between;
}
#profil_user{

	position: absolute;
	top: 30%;
	right: 30px;
	width: 50px;
	border-radius: 50%;
}

.admin_form{

	margin-top: -100px;
}

.modif_button{

	height: 30px !important;
}

.form1, .form2{
 	
 	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#description_produit, #description_update{

	height: 100px;
	padding: 5 25px;
}

.table_produit{

	background-color: white;
}

.table_produit thead{

	background-color: #17A681;
	color: white;
}

.table_produits{

	display: flex;
	flex-direction: column;
	align-items: center;
}

.add_product{

	margin-top: 30px;
	transition: 0.2s;
}

.add_product:hover{
	transform: scale(1.3);
}

.add_product path{

	color : #17A681;
}

.bi-pencil path{

	color: #21202E;
}

.bi-pencil, .bi-x{

	transition: 0.2s;
}

.bi-pencil:hover, .bi-x:hover{
	transform: scale(1.5);
}

.update_form form{

	width: 100%;
}

.erreur_update{

	border: 1px solid #C0392B !important;
}

.form_service form{

	width: 100%;
}
